# Data Science Tools and Ecosystem

In this notebook, Data Science and Tools are summarized.

**Objectives:**
* List popular languages for Data Science.
* List commonly used libraries for Data Science.
* List common development environment open source tools used in Data Science.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. SciKit-Learn
5. Caret

|Data Science Tools|
|-----------|
|Apache Hadoop|
|Apache Airflow|
|Tensorflow|

### Below are a few examples of evaluating arithmetic expressions in Python:

In [2]:
# This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by dividing by 60.
m = 200
h = 60
conv = round(200/60, 2)
print(str(m) + " minutes converts to " + str(conv) + " hours")

200 minutes converts to 3.33 hours

## Author
Zachary Jackson